doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='Description' content='Tiny QR Code Generator')
    meta(name='msapplication-TileColor' content='#2b5797')
    meta(name='theme-color' content='#fff')
    //- prettier-ignore
    link(rel='apple-touch-icon' sizes='180x180' href='assets/apple-touch-icon.png')
    //- prettier-ignore
    link(rel='icon' type='image/png' sizes='32x32' href='assets/favicon-32x32.png')
    //- prettier-ignore
    link(rel='icon' type='image/png' sizes='16x16' href='assets/favicon-16x16.png')
    link(rel='manifest' href='manifest.webmanifest')
    link(rel='mask-icon' href='assets/safari-pinned-tab.svg' color='#555')

    title QR Code Painter
    link(rel='stylesheet' href='style/index.styl')
  body
    .top-row
      label.displaced(for='textarea') Input
      #input
        button#templates +
        ul#template-container.hidden
          li(
            data-template='MATMSG:TO: <email-address> ;SUB: <Subject> ;BODY: <Text>;;'
          ) Email
          li(data-template='tel:') Phone
          li(data-template='geo:<lat>,<long>,<alt>') Geolocation
          li(data-template='WIFI:T:WPA;S: <ssid> ;P: <password> ;;') WiFi
          li Cancel
        textarea#textarea(
          type='text'
          rows='1'
          placeholder='Enter text here...'
          spellcheck='false'
        )
        button#clear ×

    svg(xmlns='http://www.w3.org/2000/svg' stroke='#000' stroke-width='1.05')
    .bottom-row
      a#download(href='javascript:void(0)') Download QR
      a(
        href='javascript:(function()%7Bwindow.open(\'https%3A%2F%2Falexruppert.github.io%2Fqr-code-painter%2F%3Fq%3D\'%2BencodeURIComponent(window.location.href)%2C\'_blank\')%7D)()'
      ) Bookmarklet
      a(href='https://github.com/AlexRuppert/qr-code-painter') GitHub &amp; REadme
    a#downloader.hidden(href='#') 
    script.
      [].find || (document.body.innerHTML = "Internet Explorer is way too old for this.");
    script(src='scripts/index.ts' async)
    script.
      const sw = "sw.js";
      navigator.serviceWorker.register(sw);
