doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='Description' content='Tiny QR Code Generator')
    meta(name='msapplication-TileColor' content='#2b5797')
    meta(name='theme-color' content='#fff')
    link(
      rel='apple-touch-icon'
      sizes='180x180'
      href='assets/apple-touch-icon.png'
    )
    link(
      rel='icon'
      type='image/png'
      sizes='32x32'
      href='assets/favicon-32x32.png'
    )
    link(
      rel='icon'
      type='image/png'
      sizes='16x16'
      href='assets/favicon-16x16.png'
    )
    link(rel='manifest' href='manifest.webmanifest')
    link(rel='mask-icon' href='assets/safari-pinned-tab.svg' color='#555')
    style
      | @import "./style/index.styl"
    title QR Code Painter
  body
    main#controls
      button#menu-button(aria-label='Open Menu')
        span
      #menu-container.closed
        ul
          li
            span Quick Access
            ul#favorites
          li 
            span Templates
            ul#templates
          li
            span#download Download QR
          li
            a(
              href='https://alexruppert.github.io/bookmarklet-generator/?script=javascript%3A%28function%28%29%7Bwindow.open%28%27https%3A%2F%2Falexruppert.github.io%2Fqr-code-painter%2F%3Fq%3D%27%2BencodeURIComponent%28window.location.href%29%2C%27_blank%27%2C%27noopener%27%29%7D%29%28%29&css=&name=%F0%9F%93%B1+QR'
            ) Bookmarklet
          li
            a(href='https://github.com/AlexRuppert/qr-code-painter') GitHub &amp; Readme
          li
            span#install.hidden Install for Offline Use
      .top
        label.displaced(for='input') Input
        label.displaced(for='menu-button') Menu
        button#favorite.icon ☆
        textarea#input(
          type='text'
          rows='1'
          placeholder='Enter text here...'
          spellcheck='false'
        )
        button#clear.icon ×

    svg(xmlns='http://www.w3.org/2000/svg' stroke='#000' stroke-width='1.05')

    a#downloader.hidden(href='#') 
    script.
      require("./scripts/index.ts");
    script.
      [].find || (document.body.innerHTML = "Internet Explorer is way too old for this. Sorry!");
      const sw = "sw.js";
      navigator.serviceWorker.register(sw);
